body {
    background: #131313;
    color: #EFEFEF;
}

.container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    max-width: 902px;
}

a {
    color: #f89406;
}

a:hover {
    color: #f8de06;
}

p {
    font-size: inherit;
}

.modal {
    color:#131313;
}
.page-header h1 {
    font-weight: normal;
}

.page-header {
    border-bottom-color: #555;
}

.page-header a:hover {
    text-decoration: none;
}

.page-header h1 a {
    color: #f89406;
}

.page-header #topnav {
    float:right;
    padding-top: 12px;
}

.page-header #topnav a {
    padding-left:20px;
    color: #999;
}
.page-header #topnav a:hover {
    color: #CCC;
}

hr {
    border-bottom: 0px #fff;
    border-top-color: #777;
}

.photo-container {
    float:left;
    width:280px;
    margin-right: 18px;
    margin-bottom: 18px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 2px;
}

.photo-square {
    width: 280px;
    height: 280px;
    overflow: hidden;
    position: relative;
}

.photo-caption {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    bottom: 0px;
    background:
        rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 40px;
    display: none;
}

.photo-caption .title {
    width: 260px;
    font-size: 18px;
    line-height: 20px;
    height: 23px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
}

#photo-container-more .loading {
    display:none;
}

/** PHOTO DETAIL PAGE **/

#photo-main-caption {
    font-size:18px;
    color: #f89406;
}

.span-prev a, .span-next a {
    color: #666;
}
.span-prev a:hover, .span-next a:hover {
    color: #999;
    text-decoration: none;
}

img#photo-main {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    z-index: 20;
    position: relative;
    cursor: pointer;
}

#photo-main-container {
    overflow: hidden;
    position: relative;
    display: inline-block;
    margin: auto;
    margin-top: 12px;
}

.photo-caption .title {
    width: 260px;
    font-size: 18px;
    line-height: 20px;
    height: 23px;
    font-weight: 300;
    position: absolute;
    top: 10px;
    left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    color:white;
}

#photo-main-license {
    text-align: center;
    padding-top: 10px;
    font-size: 11px;
    color:#666;
    margin-bottom: 16px;
}

#photo-main-license a { color:#666; }
#photo-main-license a:hover { color:#999; }

.photo-meta {
    /* border:1px solid green; */
    text-align: left;
    color: #999;
}

.photo-meta a {
    color: #999;


}
#photo-main-meta-right {
    float:right;
    padding-left:30px;
    padding-right:4px;
    font-size: 11px;
    text-align: center;
}

#photo-main-meta-description {
    padding-bottom: 8px;
    color: #efefef;
}

#photo-main-meta-tags, #photo-main-meta-set, #photo-main-meta-location {
    font-size: 11px;
    color:#666;
}

#photo-main-meta-right a { color:#666; }
#photo-main-meta-right a:hover { color:#999; }

#overlay {
    background:rgba(0, 0, 0, 0.8);
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    z-index: 10;
    display: none;
}


/** TAGS */
.tag-depth-2 {
    padding-left:20px;
}
.tag-depth-3 {
    padding-left:40px;
}
.tag-depth-4 {
    padding-left:60px;
}
.tag-depth-5 {
    padding-left:80px;
}

.caption {
    font-size: 18px;
    margin-bottom:20px;
}

