{% extends "base.html" %}

{% block title-left %}Admin Actions - {% endblock %}

{% block body %}
<h1>Admin Actions</h1>

<br />

<div class="row">
    <div class="span4">
        <ul>
            <li><a href="/adminx/mover/">Photo Mover</a></li>
            <li><a href="/upload/">Photo Upload</a></li>
            <li><a href="javascript:help_update()">Photo Update (Upload new Rev)</a></li>
        </ul>
    </div>
    <div class="span4">
        <ul>
            <li><a href="/adminx/cache_clear/">Clear Cache</a></li>
            <li><a href="/adminx/rebuild_flow_thumbs/">Rebuild Flow Thumbnails for featured=True</a></li>
            <li><a href="/p/notify/">Send Handout Notifications</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block js_bottom %}
<script type="text/javascript">
    function help_update() {
        alert("Visit /photo/<SLUG>/update");
    }
</script>
{% endblock %}
