{% extends "base.html" %}

{% block title-left %}Photo Mover - {% endblock %}

{% block meta-css %}
<link href="{{ STATIC_URL }}css/admin.css" rel="stylesheet">
{% endblock %}

{% block body-class %}photogrid{% endblock %}

{% block body %}
<div style="float: right; padding-right:56px;">
    <a class="btn" href="javascript:save()">Save Changes</a>
</div>
<h1>Admin Action: <a href="/adminx/mover/">Photo Mover</a></h1>

<br />
<div class="row">
    <div class="span12">

        <div class="caption">Recently Added Photos</div>
        {% with photos=page.photos has_more=page.has_more filters=page.filters %}
            {% include "mainapp/photogrid.html" %}
        {% endwith %}

    </div>
</div>
{% endblock %}

{% block js_bottom %}
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/photogrid.min.js"></script>
<script src="{{ STATIC_URL }}js/photogrid_mover.min.js"></script>
{% endblock %}
