{% extends "base.html" %}

{% block title-left %}Photo Upload - {% endblock %}

{% block body %}
<h1>Admin Action: Upload</h1>

<br />

{% if form %}
    <div class="caption">
        Upload a photo
    </div>

    <form action="/upload/" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload Photo</button>
    </form>
{% else %}
    <div class="caption">
        Photo uploaded!
    </div>

        {{ values }}

        <a href="/admin/mainapp/photo/add/{% for k, v in values.items %}{% if forloop.first %}?{% else %}&{% endif %}{{ k }}={{ v }}{% endfor %}" />Go to admin</a>


    <a href="{{ photo_url }}" target="_blank"><img src="{{ photo_url }}" /></a>
{% endif %}
{% endblock %}

{% block js_bottom %}
{% endblock %}
