<ul class="photo-grid">
    {% for photo in photos %}
        {% include "mainapp/photogrid_item.html" %}
    {% endfor %}

    {% if has_more %}
        <li class="photo-container" id="photo-container-more">
            <a href="javascript:load_photos()" title="Load more photos...">
                <div class="photo-square" style="text-align: center;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="default">more...</span>
                    <span class="loading">loading...</span>
                </div>
            </a>
        </li>
    {% endif %}
</ul>

{% if filters %}
<script type="text/javascript">
    var photogrid_info = {
        {% for k, v in filters.to_html_dict.items %}"{{ k }}": "{{ v }}", {% endfor %}
    }
</script>
{% endif %}
