{% load thumbnail %}
{% load extras %}

{% thumbnail photo.url "280x280" crop="center" as im %}
<li class="photo-container" id="pc{{ photo.hash }}">
    <div class="photo-square">
        <a href="/photo/{{ photo.slug }}{% if photo_link_attr %}?{{ photo_link_attr }}={{ photo_link_val }}{% endif %}" class="a-no-underline">
            <img src="{{ im.url }}" alt="{{ photo|photo_alt }}" width="{{ im.width }}" height="{{ im.height }}">
            <div class="photo-caption">
                <div class="title">
                    {{ photo.title }}
                </div>
            </div>
        </a>
    </div>
</li>
{% endthumbnail %}
