<ul class="photo-grid">
    {% for photo in photos %}
        {% include "mainapp/photogrid_item.html" %}
    {% endfor %}

    {% if has_more %}
        <li class="photo-container" id="photo-container-more">
            <a href="javascript:load_photos()" title="Load more photos...">
                <div class="photo-square" style="text-align: center;">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <span class="default">more...</span>
                    <span class="loading"><img src="{{ STATIC_URL }}img/ajax-loader-darkbg2.gif" /></span>
                </div>
            </a>
        </li>
    {% endif %}
</ul>

{% if filters %}
<script type="text/javascript">
    var mode_flow = false;
    var scroll_load_more_enabled = {% if scroll_load_more_disabled %}false{% else %}true{% endif %};
    var photogrid_info = {
        {% for k, v in filters.to_html_dict.items %}"{{ k }}": "{{ v }}", {% endfor %}
    }
</script>
{% endif %}
