{% extends "base.html" %}

{% block title-left %}Photos in Collection '{{ set.title }}' - {% endblock %}

{% block body-class %}photogrid{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">

        <div class="caption">Photos in Collection '<a href="/set/{{ set.slug }}">{{ set.title }}</a>'</div>

        {% with photos=page.photos has_more=page.has_more filters=page.filters photo_link_attr="set" photo_link_val=set.slug %}
            {% include "mainapp/photogrid.html" %}
        {% endwith %}

    </div>
</div>
{% endblock %}

{% block js_bottom %}
<script src="{{ STATIC_URL }}js/photogrid.min.js"></script>
{% endblock %}
