{% extends "base.html" %}

{% load thumbnail %}

{% block title-left %}All Collections - {% endblock %}

{% block body %}
<div class="caption">Collections</div>

<div class="row-fluid">

    {% for set in sets %}
        <div class="span3">
            <div class="set-list-item">
                <a href="/set/{{ set.slug }}">{{ set.title }} ({{ set.photo_set.count }} photo{{ set.photo_set.count|pluralize }})</a>
            </div>
        </div>
    {% endfor %}

</div>
{% endblock %}

{% block js_bottom %}
    <script src="{{ STATIC_URL }}js/photo.js"></script>
{% endblock %}
