{% extends "base.html" %}

{% load thumbnail %}

{% block title-left %}All Tags - {% endblock %}

{% block meta %}
<meta name="description" content="{{ photo_count }} stunning sport, climbing and nature photographs in {{ tag_count }} tags.">
{% endblock %}

{% block body %}
<div class="caption">Tags</div>

<div class="row-fluid">

    {% for tag in tags %}
        <div class="span2" id="taglist">
            {% for t2 in tag.rootlist %}
                <div class="tag tag-depth-{{ t2.tag.depth }}">
                    <a href="/tag/{{ t2.tag.slug }}">{{ t2.tag.name }} &middot; {{ t2.model_count }}</a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}

</div>
{% endblock %}

{% block js_bottom %}
    <script src="{{ STATIC_URL }}js/photo.js"></script>
{% endblock %}
