{% extends "base.html" %}

{% load i18n %}

{% block body %}
<div class="caption">Set Your Language</div>

<form action="/i18n/setlang/" method="post" class="form-inline">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />

    <select name="language">
        {% get_current_language  as lang_cur %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
        <option value="{{ language.code }}"{% if lang_cur == language.code %} selected="selected"{% endif %}>{{ language.name_local }} ({{ language.code }})</option>
        {% endfor %}
    </select>

    &nbsp;&nbsp;<button type="submit" class="btn">Save</button>
</form>

{% endblock %}
